<section class="product">
  <img src="/images/{{product.filename}}" alt="{{product_name}}">
  <div class="product-details">
    <h3>{{product.product_name}}</h3>
    <h4>{{product.product_model}}</h4>
    <h5>{{product.daily_rate}}</h5>
    <p>{{product.description}}</p>
  </div>
</section>